#!/bin/bash
# iptables firewall for base docker servers.
#
# This file should be located at /etc/firewall.bash, and is meant to work with
# Jeff Geerling's firewall init script.
#
# Common port reference:
#   22: SSH
#   25: SMTP
#   80: HTTP
#   123: DNS
#   443: HTTPS
#   1001: SSH alternate
#   4949: Munin
#   6082: Varnish admin
#   8080: HTTP alternate (often used with Tomcat)
#   8983: Tomcat HTTP
#   8443: Tomcat HTTPS
#   9000: SonarQube
#
# @author Jeff Geerling

# No spoofing.
if [ -e /proc/sys/net/ipv4/conf/all/rp_filter ]
then
for filter in /proc/sys/net/ipv4/conf/*/rp_filter
do
echo 1 > $filter
done
fi

# Remove all rules and chains.
iptables -F
iptables -X

# *filter
# :INPUT DROP [0:0]
# :FORWARD DROP [0:0]
# :OUTPUT ACCEPT [0:0]

# Ethernet allows established/related, but does not allow invalid.
iptables -A INPUT -i eth+ -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A INPUT -i eth+ -m state --state INVALID -j DROP

# Ethernet allows ICMP echo (PING) with rate limiting.
iptables -A INPUT -i eth+ -m state --state NEW -p icmp -m icmp --icmp-type echo-request -j ACCEPT
iptables -I INPUT -i eth+ -m icmp -p icmp --icmp-type echo-request -m recent --set
iptables -I INPUT -i eth+ -m icmp -p icmp --icmp-type echo-request -m recent --update --seconds 10 --hitcount 10 -j DROP


# Accept traffic from loopback interface (localhost).
iptables -A INPUT -i lo -j ACCEPT
iptables -A FORWARD -i lo -j ACCEPT

# Forwarded ports.
{# Add a rule for each forwarded port #}
{% for forwarded_port in firewall_forwarded_tcp_ports %}
iptables -t nat -I PREROUTING -p tcp --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
{% endfor %}
{% for forwarded_port in firewall_forwarded_udp_ports %}
iptables -t nat -I PREROUTING -p udp --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
{% endfor %}

# Open ports.
{# Add a rule for each open port #}
{% for port in firewall_allowed_tcp_ports %}
iptables -A INPUT -p tcp -m tcp --dport {{ port }} -j ACCEPT
{% endfor %}
{% for port in firewall_allowed_udp_ports %}
iptables -A INPUT -p tcp -m udp --dport {{ port }} -j ACCEPT
{% endfor %}


# Allow NTP traffic for time synchronization.
iptables -A OUTPUT -p udp --dport 123 -j ACCEPT
iptables -A INPUT -p udp --sport 123 -j ACCEPT

# Additional custom rules.
{% for rule in firewall_additional_rules %}
{{ rule }}
{% endfor %}

# Allow established connections:
iptables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Log EVERYTHING (ONLY for Debug).
# iptables -A INPUT -j LOG

# Log other incoming requests (all of which are dropped) at 15/minute max.
iptables -A INPUT -m limit --limit 15/minute -j LOG --log-level 7 --log-prefix "Dropped by firewall: "

# Ethernet allows TCP on port (SSH) with rate limiting.
iptables -A INPUT -i eth+ -m state --state NEW -m tcp -p tcp --dport {{ security_ssh_port }} -j ACCEPT
iptables -I INPUT -i eth+ -m state --state NEW -m tcp -p tcp --dport {{ security_ssh_port }} -m recent --set
iptables -I INPUT -i eth+ -m state --state NEW -m tcp -p tcp --dport {{ security_ssh_port }} -m recent --update --seconds 10 --hitcount 5 -j DROP

# Host is a proxy, ethernet allows TCP on port 443 (HTTPS) with rate limiting.
iptables -A INPUT -i eth+ -m state --state NEW -m tcp -p tcp --dport 443 -j ACCEPT
iptables -I INPUT -i eth+ -m state --state NEW -m tcp -p tcp --dport 443 -m recent --set
iptables -I INPUT -i eth+ -m state --state NEW -m tcp -p tcp --dport 443 -m recent --update --seconds 5 --hitcount 20 -j DROP

# Host is a proxy, ethernet allows TCP on port 80 (HTTP) with rate limiting.
iptables -A INPUT -i eth+ -m state --state NEW -m tcp -p tcp --dport 80 -j ACCEPT
iptables -I INPUT -i eth+ -m state --state NEW -m tcp -p tcp --dport 80 -m recent --set
iptables -I INPUT -i eth+ -m state --state NEW -m tcp -p tcp --dport 80 -m recent --update --seconds 5 --hitcount 20 -j DROP

# Ethernet allows everything from administrators.
{% if administrators is not none %}
{% for a in administrators %}
iptables -I INPUT -i eth+ -s {{ a.ipv4 }} -j ACCEPT
iptables -I FORWARD -i eth+ -s {{ a.ipv4 }} -j ACCEPT
{% endfor %}
{% endif %}

# Drop all other traffic.
iptables -A INPUT -j DROP

# # Ethernet allows everything from co-hosts.
# {% for h in groups['all'] %}
# {% if h != inventory_hostname %}
# -I INPUT -i eth+ -s {{ hostvars[h].ansible_eth0.ipv4.address }} -j ACCEPT
# -I FORWARD -i eth+ -s {{ hostvars[h].ansible_eth0.ipv4.address }} -j ACCEPT
# {% endif %}
# {% endfor %}

# # Loopback allows everything.
# -I INPUT -i lo -j ACCEPT
# -I FORWARD -i lo -j ACCEPT

# COMMIT

